body {
    background-image: url("main\ bg.png");
    background-size: cover;
    font-family: 'Klee One', cursive;
}

article {
    background-color: aliceblue;
    padding: 30px;
    margin: 30px;
    border-radius: 30px;
}
h3 {
    margin: 15px;
    font-size: 35px;
}
.text-primary {
    font-size: 20px;
}

.modal-dialog
{
    width: 70%;
}
.modal-body
{
    text-align: left;
    font-size: 20px;
}

.rainbow_img {
    float: right;
}

#tint_body {
    background-image: url("colour\ bg.png");
    color: mintcream;
}

#tint_body input {
    color: black;
}

#monday_body {
    background-image: url("monday\ bg.png");
}

#friday_body {
    background-image: url("friday\ bg.png");
}

#hbd_body {
    background-image: url("hbd\ background.png");
}

#frame_body {
    background-image:url("frame\ bg.png");
}

#nature_body {
    background-image: url("nature\ bg.png");
}

#moustache_body {
    background-image: url("moustache\ bg.png");
}

#unique_body {
    background-image: url("flower\ frame\ bg.jpg");
}